In [25]:
# 由於csv檔內有python無法讀出之語言UFT-8
#先界定檔案所使用之語言
import chardet
with open("WMF_employees_schdule.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.7117680872150645, 'language': ''}

In [28]:
#輸出班表
import pandas as pd

## 讓pd讀檔並切換語言參數
schedule1 = pd.read_csv("WMF_employees_schdule.csv",encoding = "Big5")
schedule1.head() #test

,排班時間調查表,4/25（一）,4/25（一）.1,4/25（一）.2,4/25（一）.3,4/25（一）.4,4/25（一）.5,4/25（一）.6,4/25（一）.7,4/26（二）,...,4/28（四）.7,4/29（五）,4/29（五）.1,4/29（五）.2,4/29（五）.3,4/29（五）.4,4/29（五）.5,4/29（五）.6,4/29（五）.7,總計
序,姓名,9:10~10:10（含場佈）,10:10~11:10,11:10~12:10,12:10~13:10,13:10~14:10,14:10~15:20,15:20~16:20,16:20~18:00（含場復檢討）,9:10~10:10（含場佈）,...,16:20~18:00（含場復檢討）,9:10~10:10（含場佈）,10:10-11:10,11:10~12:10,12:10~13:10,13:10~14:10,14:10~15:20,15:20~16:20,16:20~18:00（含場復檢討）,NaN
1,張令昌,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,TRUE,TRUE,...,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,20.0
2,儲詠潔,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,TRUE,...,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,15.0
3,蘇彥寧,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,...,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,10.0
4,邱致瑋,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,FALSE,13.0

In [31]:
schedule1[ schedule1["4/25（一）"] == "TRUE"

SyntaxError: unexpected EOF while parsing (511212263.py, line 1)

In [31]:
#列出應到與實到人數

allstudent = list(Basic_design['姓名'])
attendance = list(Basic_design['3'])
item = "Y"
attend = attendance.count(item)
print("修課學生數:", len(allstudent))
print("出席學生數:", attend)

修課學生數: 50
出席學生數: 46

In [20]:
#檢查自己到底有沒有被點報名
student = input("請輸入名字： ")

if student in allstudent and "Y":
        print("有到")
        
elif student in allstudent and "":
        print("未到")
        
else:
        print("這個人是誰啊~~~???")

請輸入名字： 簡珮軒

NameError: name 'allstudent' is not defined

In [9]:
for x in range(len(allstudent)):
    print allstudent[x]

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(allstudent[x])? (2827784424.py, line 2)