In [25]:
# 由於csv檔內有python無法讀出之語言UFT-8
#先界定檔案所使用之語言
import chardet
with open("WMF_employees_schdule.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.7117680872150645, 'language': ''}

In [32]:
#輸出班表
import pandas as pd

## 讓pd讀檔並切換語言參數
schedule1 = pd.read_csv("WMF_employees_schdule.csv",encoding = "Big5")
schedule1.head() #test

,排班時間調查表,4/25（一）9:10~10:10（含場佈）,4/25（一）10:10~11:10,4/25（一）11:10~12:10,4/25（一）12:10~13:10,4/25（一）13:10~14:10,4/25（一）14:10~15:20,4/25（一）15:20~16:20,4/25（一）16:20~18:00（含場復檢討）,4/26（二）9:10~10:10（含場佈）,...,4/29（五）9:10~10:10（含場佈）,4/29（五）10:10-11:10,Unnamed: 35,4/29（五）11:10~12:10,4/29（五）12:10~13:10,4/29（五）13:10~14:10,4/29（五）14:10~15:20,4/29（五）15:20~16:20,4/29（五）16:20~18:00（含場復檢討）,總計
0,序,姓名,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,張令昌,True,False,False,True,False,False,True,True,...,True,True,False,False,True,False,False,False,False,20.0
2,2,儲詠潔,False,False,False,True,False,False,True,False,...,False,False,True,True,True,True,True,True,False,15.0
3,3,蘇彥寧,True,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,10.0
4,4,邱致瑋,True,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,13.0

In [34]:
Mon1_people = list(schedule1['4/25（一）9:10~10:10（含場佈）']) 
Mon2_people = list(schedule1['4/25（一）10:10~11:10']) 
Mon3_people = list(schedule1['4/25（一）13:10~14:10']) 
Mon4_people = list(schedule1['4/25（一）14:10~15:20']) 
Mon5_people = list(schedule1['4/25（一）15:20~16:20']) 
Mon6_people = list(schedule1['4/25（一）16:20~18:00（含場復檢討）'])

In [35]:
s1=set(Mon1_people)
s2=set(Mon2_people)

In [36]:
print('星期一9:10~11:10都在的人')
print(s1&s2)

星期一9:10~11:10都在的人
set()

In [31]:
#列出應到與實到人數

allstudent = list(Basic_design['姓名'])
attendance = list(Basic_design['3'])
item = "Y"
attend = attendance.count(item)
print("修課學生數:", len(allstudent))
print("出席學生數:", attend)

修課學生數: 50
出席學生數: 46

In [20]:
#檢查自己到底有沒有被點報名
student = input("請輸入名字： ")

if student in allstudent and "Y":
        print("有到")
        
elif student in allstudent and "":
        print("未到")
        
else:
        print("這個人是誰啊~~~???")

請輸入名字： 簡珮軒

NameError: name 'allstudent' is not defined

In [9]:
for x in range(len(allstudent)):
    print allstudent[x]

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(allstudent[x])? (2827784424.py, line 2)