In [1]:
# 由於csv檔內有python無法讀出之語言UFT-8
#先界定檔案所使用之語言
import chardet
with open("WMF_employees_schdule0425.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.42197836166924263, 'language': ''}

In [2]:
#輸出班表
import pandas as pd

## 讓pd讀檔並切換語言參數
schedule1 = pd.read_csv("WMF_employees_schdule0425.csv",encoding = "Big5")
schedule1.head() #test

,4/25_9:10~10:10,4/25_10:10~11:10,4/25_11:10~12:10,4/25_12:10~13:10,4/25_13:10~14:10,4/25_14:10~15:20,4/25_15:20~16:20,4/25_16:20~18:00,Unnamed: 8
0,潘玉蔚,吳彩葳,許婉柔,蔡福婷,蘇惠妤,蘇惠妤,蘇惠妤,范純?,NaN
1,周如茵,黃珮涵,黃珮涵,程安妮,程安妮,歐銘政,儲詠潔,蔡福婷,NaN
2,董淤淤,董淤淤,董淤淤,范與晨,范與晨,黃知离,張令昌,張令昌,NaN
3,顏兆霆,葉彩雲,葉彩雲,陳品瑜,陳品瑜,陳品瑜,蔡福婷,葉欲祥,NaN
4,周宸妤,周宸妤,周宸妤,謝艾倫,湯喻?,葉欲祥,鄭燕慧,黃知离,NaN

In [3]:
#輸出全部工人
import pandas as pd

## 讓pd讀檔並切換語言參數
ALL_employees = pd.read_csv("WMF_AllEmployees.csv",encoding = "Big5")
ALL_employees.head() #test

    姓名
0  張令昌
1  儲詠潔
2  蘇彥寧
3  邱致瑋
4  董淤淤

In [4]:
# make a list of time
Mon1_people = list(schedule1['4/25_9:10~10:10']) 
Mon2_people = list(schedule1['4/25_10:10~11:10']) 
Mon3_people = list(schedule1['4/25_11:10~12:10']) 
Mon4_people = list(schedule1['4/25_12:10~13:10']) 
Mon5_people = list(schedule1['4/25_13:10~14:10']) 
Mon6_people = list(schedule1['4/25_14:10~15:20']) 
Mon7_people = list(schedule1['4/25_15:20~16:20']) 
Mon8_people = list(schedule1['4/25_16:20~18:00'])

In [5]:
# test the material
print(Mon1_people)

['潘玉蔚', '周如茵', '董淤淤', '顏兆霆', '周宸妤', '徐詩婷', '邱致瑋', '陳品瑜', '許雅淳', '謝艾倫', '林義家', '葉彩雲']

In [6]:
# make a list of employees
Employees = list(ALL_employees['姓名'])

In [7]:
# test the material
print(Employees)

['張令昌', '儲詠潔', '蘇彥寧', '邱致瑋', '董淤淤', '蘇惠妤', '陳昱銓', '歐銘政', '徐詩婷', '許雅淳', '范與晨', '周宸妤', '顏兆霆', '葉子瑜', '林義家', '葉欲祥', '陳宥汝', '程安妮', '許婉柔', '何芳雯', '葉彩雲', '趙婞雅', '周彤', '謝忠翰', '盧柔伊', '范純?', '蔡福婷', '鄭燕慧', '湯喻?', '黃知离', '周如茵', '潘玉蔚', '陳諳星', '吳彩葳', '林君騰', '黃珮涵', '黃威敏', '簡珮軒', '馮楷宸', '紀承佐', '陳品瑜', '謝艾倫']

In [8]:
s1=set(Mon1_people)
s2=set(Mon2_people)
s3=set(Mon3_people)
s4=set(Mon4_people)
s5=set(Mon5_people)
s6=set(Mon6_people)
s7=set(Mon7_people)
s8=set(Mon8_people)

In [9]:
#所有有在禮拜一4/25班表的人-聯集
s12=set(s1.union(s2))
s34=set(s3.union(s4))
s56=set(s5.union(s6))
s78=set(s7.union(s8))
s14=set(s12.union(s34))
s58=set(s56.union(s78))
sALL=set(s14.union(s58))
print(sALL)

{'蘇惠妤', '湯喻?', '葉欲祥', '盧柔伊', '何芳雯', '董淤淤', '周如茵', '徐詩婷', '陳品瑜', '吳彩葳', '葉子瑜', '葉彩雲', '鄭燕慧', '張令昌', '林君騰', '邱致瑋', '范純?', '許婉柔', '林義家', '歐銘政', '范與晨', '陳諳星', '程安妮', '顏兆霆', '潘玉蔚', '黃知离', '周宸妤', '許雅淳', '陳宥汝', '黃珮涵', '儲詠潔 ', '謝艾倫', '蔡福婷'}

In [10]:
# test the material
print(s1)

{'許雅淳', '顏兆霆', '潘玉蔚', '邱致瑋', '董淤淤', '周宸妤', '謝艾倫', '周如茵', '徐詩婷', '陳品瑜', '林義家', '葉彩雲'}

In [11]:
#所有工人集合
sE=set(Employees)

In [12]:
# test the material
print(sE)

{'蘇惠妤', '湯喻?', '葉欲祥', '盧柔伊', '何芳雯', '董淤淤', '周如茵', '徐詩婷', '葉子瑜', '吳彩葳', '陳品瑜', '葉彩雲', '鄭燕慧', '張令昌', '林君騰', '邱致瑋', '范純?', '馮楷宸', '許婉柔', '林義家', '歐銘政', '黃威敏', '范與晨', '陳諳星', '程安妮', '顏兆霆', '紀承佐', '潘玉蔚', '黃知离', '周宸妤', '蘇彥寧', '周彤', '謝忠翰', '許雅淳', '陳宥汝', '趙婞雅', '簡珮軒', '黃珮涵', '謝艾倫', '儲詠潔', '蔡福婷', '陳昱銓'}

In [13]:
#星期一 9:10~11:10 都在有顧攤的人-交集
print('星期一 9:10~11:10 都在的人')
print(s1&s2)

星期一 9:10~11:10 都在的人
{'董淤淤', '周宸妤', '徐詩婷', '林義家', '葉彩雲'}

In [14]:
#星期一 9:10~11:10 在有顧攤的人-聯集
print('星期一 9:10~11:10 有在的人')
print(s1.union(s2))

星期一 9:10~11:10 有在的人
{'陳諳星', '顏兆霆', '葉欲祥', '潘玉蔚', '何芳雯', '董淤淤', '周宸妤', '周如茵', '徐詩婷', '許雅淳', '陳品瑜', '吳彩葳', '葉彩雲', '黃珮涵', '邱致瑋', '謝艾倫', '范純?', '許婉柔', '林義家'}

In [15]:
#所有工人中,4/25沒有顧攤的人-差集
print('4/25沒有顧攤的人')
print(sE.difference(sALL))

4/25沒有顧攤的人
{'黃威敏', '儲詠潔', '紀承佐', '馮楷宸', '周彤', '蘇彥寧', '謝忠翰', '趙婞雅', '簡珮軒', '陳昱銓'}

In [17]:
#星期一 9:10~11:10中,9:10~10:10或10:10~11:10顧攤的人(不包含該時段一直都在的人)-對稱差集
print('4/25 9:10~11:10中,9:10~10:10或10:10~11:10顧攤的人')
print(s1.symmetric_difference(s2))

4/25 9:10~11:10中,9:10~10:10或10:10~11:10顧攤的人
{'葉欲祥', '何芳雯', '周如茵', '吳彩葳', '陳品瑜', '范純?', '邱致瑋', '許婉柔', '陳諳星', '顏兆霆', '潘玉蔚', '許雅淳', '黃珮涵', '謝艾倫'}

In [18]:
s1-s2

{'周如茵', '潘玉蔚', '許雅淳', '謝艾倫', '邱致瑋', '陳品瑜', '顏兆霆'}

In [19]:
s2-s1

{'何芳雯', '吳彩葳', '范純?', '葉欲祥', '許婉柔', '陳諳星', '黃珮涵'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'